<div id="observablehq-ee0162d8">
  <div class="observablehq-viewof-mydep"></div>
  <div class="observablehq-chart"></div>
</div>
<script type="module">
  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
  import define from "https://api.observablehq.com/@neocartocnrs/choropleth-map-about-covid19-in-france.js?v=3";
  (new Runtime).module(define, name => {
    if (name === "viewof mydep") return Inspector.into("#observablehq-ee0162d8 .observablehq-viewof-mydep")();
    if (name === "chart") return Inspector.into("#observablehq-ee0162d8 .observablehq-chart")();
  });
</script>
