<div id="observablehq-b3e82e96">
  <div class="observablehq-viewof-myweek"></div>
  <div class="observablehq-map"></div>
</div>
<script type="module">
  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
  import define from "https://api.observablehq.com/@neocartocnrs/choropleth-map-about-covid19-in-france.js?v=3";
  (new Runtime).module(define, name => {
    if (name === "viewof myweek") return Inspector.into("#observablehq-b3e82e96 .observablehq-viewof-myweek")();
    if (name === "map") return Inspector.into("#observablehq-b3e82e96 .observablehq-map")();
  });
</script>
