<div id="observablehq-917d486c">
  <div class="observablehq-viewof-show"></div>
  <div class="observablehq-viewof-k"></div>
  <div class="observablehq-map"></div>
</div>
<script type="module">
  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
  import define from "https://api.observablehq.com/@neocartocnrs/dorling-cartogram.js?v=3";
  (new Runtime).module(define, name => {
    if (name === "viewof show") return Inspector.into("#observablehq-917d486c .observablehq-viewof-show")();
    if (name === "viewof k") return Inspector.into("#observablehq-917d486c .observablehq-viewof-k")();
    if (name === "map") return Inspector.into("#observablehq-917d486c .observablehq-map")();
  });
</script>
