<div id="observablehq-f9543142">
  <div class="observablehq-viewof-myvar"></div>
  <div class="observablehq-viewof-mysymbol"></div><br/>
  <div class="observablehq-map"></div>
</div>
<script type="module">
  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
  import define from "https://api.observablehq.com/@neocartocnrs/covid19-worldwide.js?v=3";
  (new Runtime).module(define, name => {
    if (name === "viewof myvar") return Inspector.into("#observablehq-f9543142 .observablehq-viewof-myvar")();
    if (name === "viewof mysymbol") return Inspector.into("#observablehq-f9543142 .observablehq-viewof-mysymbol")();
    if (name === "map") return Inspector.into("#observablehq-f9543142 .observablehq-map")();
  });
</script>
