<div class="viewof-date"></div>
<div class="map"></div>

<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
import define from "https://api.observablehq.com/@neocartocnrs/49394-deaths-in-migration-in-europes-neighbourhood-1993-20.js?v=3";
(new Runtime).module(define, name => {
  if (name === "map") return Inspector.into(".map")();
  if (name === "viewof date") return Inspector.into(".viewof-date")();
  return ["legtitle","phrase","mdm","simulation","legend"].includes(name) || null;
});
</script>
