<div id="observablehq-viewof-language-30b72083"></div>
<div id="observablehq-viewof-date-30b72083"></div>
<div id="observablehq-map-30b72083"></div>

<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
import define from "https://api.observablehq.com/@neocartocnrs/49394-deaths-in-migration-in-europes-neighbourhood-1993-20.js?v=3";
new Runtime().module(define, name => {
  if (name === "map") return new Inspector(document.querySelector("#observablehq-map-30b72083"));
  if (name === "viewof date") return new Inspector(document.querySelector("#observablehq-viewof-date-30b72083"));
  if (name === "viewof language") return new Inspector(document.querySelector("#observablehq-viewof-language-30b72083"));
  return ["legtitle","phrase","mdm","simulation","legend","title","source"].includes(name);
});
</script>
