<div id="observablehq-558eacd2">
  <div class="observablehq-NuitDebout"></div>
  <div class="observablehq-viewof-threshold"></div>
  <div class="observablehq-viewof-r"></div>
  <div class="observablehq-viewof-op"></div>
  <div class="observablehq-viewof-k"></div>
  <div class="observablehq-viewof-op2"></div>
</div>
<script type="module">
  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
  import define from "https://api.observablehq.com/@neocartocnrs/the-2016-french-nuit-debout.js?v=3";
  (new Runtime).module(define, name => {
    if (name === "NuitDebout") return Inspector.into("#observablehq-558eacd2 .observablehq-NuitDebout")();
    if (name === "viewof threshold") return Inspector.into("#observablehq-558eacd2 .observablehq-viewof-threshold")();
    if (name === "viewof r") return Inspector.into("#observablehq-558eacd2 .observablehq-viewof-r")();
    if (name === "viewof op") return Inspector.into("#observablehq-558eacd2 .observablehq-viewof-op")();
    if (name === "viewof k") return Inspector.into("#observablehq-558eacd2 .observablehq-viewof-k")();
    if (name === "viewof op2") return Inspector.into("#observablehq-558eacd2 .observablehq-viewof-op2")();
  });
</script>
