<div id="observablehq-viewof-scrubber-78cd88b3"></div>
<div id="observablehq-map-78cd88b3"></div>

<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
import define from "https://api.observablehq.com/d/f9f6223d19ca5895.js?v=3";
new Runtime().module(define, name => {
  if (name === "viewof scrubber") return new Inspector(document.querySelector("#observablehq-viewof-scrubber-78cd88b3"));
  if (name === "map") return new Inspector(document.querySelector("#observablehq-map-78cd88b3"));
  return ["previous","update","interpolateProjection","path"].includes(name);
});
</script>
