<table style="width:100%">
  <tr>
    <td class="viewof-ch">A</td>
    <td class="viewof-type">B</td>
    <td class="viewof-k">C</td>
  </tr>
  </tr>
</table>




<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
import define from "https://api.observablehq.com/@neocartocnrs/passeports-colors.js?v=3";
(new Runtime).module(define, name => {
  if (name === "viewof ch") return Inspector.into(".viewof-ch")();
  if (name === "viewof type") return Inspector.into(".viewof-type")();
  if (name === "viewof k") return Inspector.into(".viewof-k")();
  return ["data","map","bycolor","nd2","bycolor2","radius","simulation","visib","hlp"].includes(name) || null;
});
</script>
