<style>





#observablehq-viewof-overlay-87331cc9 { 
 float: left;
    display: inline-block;
       padding-right: 25px;
}

#observablehq-viewof-label-87331cc9  { 
   display: inline-block;

}




</style>

<div id="observablehq-viewof-myage-87331cc9"></div>
<div id="observablehq-viewof-overlay-87331cc9"></div>
<div id="observablehq-viewof-label-87331cc9"></div>
<div id="observablehq-map-87331cc9"></div>


<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
import define from "https://api.observablehq.com/d/3b2a2ea55c2b52f7.js?v=3";
new Runtime().module(define, name => {
  if (name === "viewof myage") return new Inspector(document.querySelector("#observablehq-viewof-myage-87331cc9"));
  if (name === "viewof overlay") return new Inspector(document.querySelector("#observablehq-viewof-overlay-87331cc9"));
  if (name === "viewof label") return new Inspector(document.querySelector("#observablehq-viewof-label-87331cc9"));
  if (name === "map") return new Inspector(document.querySelector("#observablehq-map-87331cc9"));
  return ["legcircles","ratiobyid","simulation","radius","getcolor"].includes(name);
});
</script>
